{% extends "base.html" %}
{% load i18n staticfiles %}

{% block header-right %}
<a href="{% url 'registration' %}" title="{% trans 'Register' %}">{% trans 'Register' %}</a>
{% endblock %}

{% block headline %}{% trans "Login" %}{% endblock %}

{% block data %}
<form id="login-view" action="." method="POST">
  {% csrf_token %}
  <div class="error">
    {% if form.username.errors and form.password.errors %}
      {{ form.non_field_errors.0 }}
    {% else %}
      {{ form.non_field_errors.0 }}
      {{ form.errors.username.0 }}
      {{ form.errors.password.0 }}
    {% endif %}
  </div>
  {% for field in form %}
    <div class="field">{{ field.label_tag }}{{ field }}</div>
  {% endfor %}
  <div class="bottom oh">
    <div class="fl submit">
      <input type="submit" alt="{% trans 'Login' %}" title="{% trans 'Login' %}" value="{% trans 'Login' %}"/>
    </div>
    <div class="fr ml-10">
      <a href="{% url 'password_reset' %}" title="{% trans 'Forgot password?' %}">{% trans "Forgot password?" %}</a>
    </div>
  </div>
</form>
{% endblock %}
