{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Пароль успешно восстановлен" %}{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
{% endblock %}

{% block js %}{% endblock %}

{% block headline %}{% trans "Пароль успешно восстановлен" %}{% endblock %}

{% block data %}
{% trans "Мы отправили инструкцию по восстановлению пароля на адрес электронной почты, который вы указали. Вы должны ее вскоре получить." %}
{% endblock %}