{% extends "base.html" %}
{% load i18n staticfiles %}

{% block header-right %}
<a href="{% url 'login' %}" title="{% trans 'Login' %}">{% trans "Login" %}</a>
{% endblock %}

{% block headline %}{% trans "Register" %}{% endblock %}

{% block data %}
<h3>{% trans "Register to control your's links." %}</h3>
<p>{% trans "After successful registration we will send you an email with activation link." %}</p>
<form id="register-view" action="." method="POST">
  {% csrf_token %}
  {% for field in form %}
    <div class="field {% if field.name = "news" %}line{% endif %}">
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}
        <div class="error">{{ field.errors.0 }}</div>
      {% endif %}
    </div>
  {% endfor %}
  <div class="bottom">
    <input type="submit" value="{% trans 'Register' %}" alt="{% trans 'Register' %}" />
  </div>
</form>
{% endblock %}