/**
 * Avatar form
 */
#avatar_form .field{
	line-height: 30px;
}
#avatar_form .error{
	margin: 5px 0 0 0;
}
#avatar_form .submit{
	text-align: left;
	height: 30px;
}
#avatar_form .submit .button{
	margin-left: 20px;
}
