{% load i18n %}
<p class="current-avatar"><img id="cur-avatar" class="fl" src="{{ user.get_avatar }}" alt="{{ user.username }}" title="{{ user.username }}" /> {% trans "Ваш текущий аватар." %}</p>
{% if not user.avatar %}
	<p>{% blocktrans %}Если у Вас нет аккаунта <a href="http://www.gravatar.com">Gravatar</a>, Вы можете загрузить свой аватар с помощью этой формы.{% endblocktrans %}</p>
	<div class="nb">
		<form class="inline" id="avatar_form" action="{% url avatar_load %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="field">{{ avatar_form.avatar.label_tag }}{{ avatar_form.avatar }}</div>
			<div class="submit"><input type="submit" class="button dark corner c5" alt="{% trans "Загрузить" %}" title="{% trans "Загрузить" %}" value="{% trans "Загрузить" %}"/></div>
			{% if avatar_form.avatar.errors %}<div class="error">{{ avatar_form.avatar.errors }}</div>{% endif %}
		</form>
	</div>
{% else %}
	<p>{% trans 'Если вы хотите использовать аватар с сервиса <a href="http://www.gravatar.com">Gravatar</a>, нажмите' %} <a id="reset-avatar" href="{% url avatar_reset %}">{% trans "использовать Gravatar" %}</a>.</p>
{% endif %}