{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block css %}
	{{ block.super }}
	{% if debug %}
		{{ form.media.css }}
	{% else %}
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/set_password.min.css" />
	{% endif %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% if debug %}
		{{ form.media.js }}
	{% else %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/set_password.min.js"></script>
	{% endif %}
{% endblock %}

{% block headline %}
Восстановление пароля
{% endblock %}

{% block data %}
{% if validlink %}
<p>Введите новый пароль и подтверждение:</p>
<form id="set-pswd-form" action="." method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{% for field in form %}
	<div class="field">
		{{ field.label_tag }}
		{{ field }}
		{% if field.errors %}
		<div class="error">{{ field.errors.0 }}</div>
		{% endif %}
	</div>
	{% endfor %}
	<div class="submit">
		<input class="button dark corner c5" type="submit" value="Сменить пароль" alt="Сменить пароль" title="Сменить пароль" />
	</div>
</form>
{% else %}
Ключ смены пароля неверен.
{% endif %}
{% endblock %}