#link-info-view {
  margin-top: -10px;
  .info {
    h3 {
      margin: 0 0 15px 0;
    }
    .qr-code {
      img {
        width: 250px;
      }
    }
    .description {
      padding-top: 30px;
      .favicon {
        max-width: 15px;
        margin-right: 3px;
      }
    }
  }
  .stat {
    h3 {
      text-align: center;
      margin: 15px 0;
    }
  }
  .redirects {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 15px;
    .redirects-chart {
      margin: 0 9px;
      width: 850px;
      height: 400px;
      rect {
        fill: steelblue;
      }
      rect:hover {
        fill: brown;
      }
      .axis {
        font: 10px sans-serif;
        path, line {
          fill: none;
          stroke: black;
          shape-rendering: crispEdges;
        }
      }
    }
  }
  .domains, .countries {
    border: 1px solid #ccc;
    svg {
      width: 390px;
      height: 400px;
      margin: 0 17px;
      .legend {
        font-size: 12px;
      }
    }
  }
}