/**
 * Go
 */
.go{
	position: absolute;
	font-size: 1.3em;
	color: #607890 !important;
}
.go-icon{
	margin: 0 5px -6px 5px;
}
/**
 * Go left
 */
#go_l, #go_lc{
	top: 40px;
	margin-top: 30px;
}
#go_l{
	left: 20px;
}
#go_lc{
    right: 20px;
}
/**
 * Go right
 */
#go_r, #go_rc{
	top: 40px;
	margin-top: 30px;
}
#go_r{
	right: 20px;
}
#go_rc{
    left: 20px;
}
/**
 * Go bottom
 */

#go_b, #go_bc{
	width: 100%;
	text-align: center;
}
#go_b{
    bottom: 7px;
    margin-left: 131px;
    width: 320px;
	position:relative !important;
}
#go_bc{
    top: 40px;
	margin-top: 30px;
}

/**
 * Central frame
 */
#cframe{
	left: 0px;
	top: 0px;
}
#cframe .main{
	position: absolute;
	left: 50%;
	width: 600px;
	margin: 10px 0 0 -300px;
	padding-top: 40px;
}
/**
 * Main input
 */
#obrez{
	text-align: center;
	border: none;
	padding: 0px !important;
	margin-bottom: 15px;
}
#main-input{
	margin-bottom: 15px;
}
#main-input #url{
	height: 42px;
	width: 460px;
	font-size: 18px;
	padding: 5px 0 5px 9px;
	border-right: none !important;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
#main-input #code{
	height: 42px;
	width: 130px;
	font-size: 16px;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
/**
 * Links style
 */
#links{
	padding: 10px 0 8px 0;
	border: 1px solid #ccc;
	background-color: #FFFFFF;
}
#links-head{
	background: #fff4cc;
	border: 1px solid #f8e3ac;
	height: 25px;
	color: #888;
	font-size: 13px;
	margin: 0 10px;
	padding: 0 10px;
}
#links-head div{
	float: left;
	line-height: 27px;
}
#links-head .short{
	width: 310px;
}
#links .link{
	padding: 0 10px;
	margin: 0 10px;
	border-bottom: 1px solid #d8e1e9;
	background-color: white;/*! for js*/
}
#links .link:nth-child(2n){
	background-color: #f4f4f4;/*! for js*/
}
#links .link div{
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	float: left;
	overflow: hidden;
}
#links .link a{
	white-space: nowrap;
}
#links .link .short{
	width: 130px;
}
#links .link .params{
	width: 180px;
}
#links .link .long{
	width: 248px;
}
#links .link .long a{
	color: #bbb;
}
#links .link .params a{
	color: #888;
}
#links .link .stat-l{
	margin-right: 25px;
}
#links .paginator{
	width: 170px;
	margin: 10px auto 0 auto;
}
/**
 * Right frame
 */
#rframe{
	display: none;
	left: 100%;
	top: 0px;
}
#lframe{
	display: none;
	left: -100%;
	top: 0px;
}
#bframe{
	display: none;
	left: 0px;
	top: 100%;
}
/**
 * Auth form
 */
#auth-form{
	display: none;
	position: absolute;
	top: 40px;
	right: 0;
	z-index: 1;
	width: 250px;
	margin: 6px 20px 0 0;
	border: 1px solid #ccc;
	background: white;
}
#auth-form form{
	padding: 15px;
}
#auth-form .field input{
	width: 218px;
}
#auth-form .error{
	text-align: center;
	margin-bottom: 7px;
}
#auth-form .oh #forgot{
	display: block;
	line-height: 30px;
	margin-left: 30px;
}
/*
 * Content Grid
*/
.grid{
	width:100%
}
.grid-line{
    float: left;
    height: 197px;
}
.grid-cell{
    border: 1px solid #CCCCCC;
    float: left;
    height: 180px;
    margin: 2px;
    padding: 5px;
    width: 240px;
}
