{% extends "base.html" %}
{% load i18n filters_tags %}

{% block css %}
	{{ block.super }}
	{% if debug %}
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/index_authenticated.css" />
	{% endif %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/archive{% if not debug %}.min{% endif %}.css" />
{% endblock %}

{% block js %}
	<script type="text/javascript" language="JavaScript">
		var curPage = {{ links.number }};
	</script>
	{{ block.super }}
	{% if debug %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib.js"></script>
	{% endif %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/archive{% if not debug %}.min{% endif %}.js"></script>
{% endblock %}

{% block title %}
	{% blocktrans with user.username as username %}Привет, {{ username }}!{% endblocktrans %}
{% endblock %}

{% block content %}
    {% csrf_token %}
	<div class="profile-body fr">
		<h3>{% blocktrans with user.username as username %}Архивные Qlinks (ссылки) пользователя: {{ username }}{% endblocktrans %}</h3>
		{% if links.object_list %}
		<div id="links" class="corner c5">
			<div id="links-head" class="oh">
				<div class="short">{% trans "Qlinks (ссылки)" %}</div>
				<div class="clicks">{% trans "Переходы" %}</div>
				<div class="info">{% trans "Инфо" %}</div>
				<div class="date">{% trans "Дата" %}</div>
				<div class="param"></div>
			</div>
			<div id="links-list">
				{% for link in links.object_list %}
					<div class="link oh {% cycle '' 'even' %}" code="{{ link.code }}">
						<div class="favicon fl"><a href="{{ link.qlink }}"><img src="{{ link.favicon }}" alt="" title=""/></a>&nbsp;</div>
						<div class="qlink fl oh">
							<div class="title oh"><a href="{% url redirect link.code %}">{% if link.title %}{{ link.title }}{% else %}{{ link.url }}{% endif %}</a></div>
							<div class="long oh"><a href="{{ link.url }}">{{ link.url|unquote }}</a></div>
							<div class="short oh"><a href="{% url redirect link.code %}">http://{{ SITE.domain }}{% url redirect link.code %}</a></div>
						</div>
						<div class="clicks fl">{{ link.counter }}</div>
						<div class="info fl"><a href="{% url info link.code %}">{% trans "Статистика" %}</a></div>
						<div class="date fl">{{ link.created_at|date:"d M" }}</div>
						<div class="param fl">
							<a href="{% url recover link.code %}">{% trans "Восстановить" %}</a>
						</div>
					</div>
				{% endfor %}
			</div>
			{% if links.has_other_pages %}
			<div class="paginator">
				<a href="?p=1" class="first"></a>						
				<a href="?p={% if links.previous_page_number = 0 %}1{% else %}{{ links.previous_page_number }}{% endif %}" class="previous"></a>
				<div class="center">{% blocktrans with links.number as number and links.paginator.num_pages as num_pages %}{{ number }} из {{ num_pages }}{% endblocktrans %}</div>
				<a href="?p={% if links.next_page_number > links.paginator.num_pages %}{{ links.paginator.num_pages }}{% else %}{{ links.next_page_number }}{% endif %}" class="next"></a>
				<a href="?p={{ links.paginator.num_pages }}" class="last"></a>						
			</div>
			{% endif %}
		</div>
		{% endif %}
	</div>
	<div id="cframe-bottom">
		{% include "footer.html" %}
	</div>
{% endblock %}