{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Смена пароля" %}{% endblock %}

{% block css %}
    {{ block.super }}
    {% if debug %}
        {{ form.media.css }}
	{% else %}
	   <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/password_reset.min.css" />
	{% endif %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% if debug %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/lib.js"></script>
		{{ form.media.js }}
	{% else %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/password_reset.min.js"></script>
	{% endif %}
{% endblock %}

{% block headline %}{% trans "Смена пароля" %}{% endblock %}

{% block data %}
<h3>{% trans "Используйте свой E-mail для смены пароля" %}</h3>
	<form action="." id="pswd-reset-form" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{% for field in form %}
		<div class="field">
			{{ field.label_tag }}{{ field }}
			{% if field.errors %}
			<div class="error">{{ field.errors.0 }}</div>
			{% endif %}
		</div>
		{% endfor %}
		<div class="submit">
			<input class="button dark c5" type="submit" value="{% trans "Отправить" %}" alt="{% trans "Отправить" %}" />
		</div>
	</form>
{% endblock %}