{% load i18n staticfiles %}
{% spaceless %}
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{% block title %}{% if SITE %}{{ SITE.name }}{% else %}Qlicker{% endif %}{% endblock %}</title>

  {% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.min.css' %}"/>
  {% endblock %}

  {% block js %}
    <script type="text/javascript" src="{% static 'js/main.min.js' %}"></script>
  {% endblock %}
</head>
<body>
<header>
  <div class="container">
    {% block header %}
      <div class="fl">
        {% block header-logo %}
          <div class="logo">
            <a href="{% url 'index' %}">{% if SITE %}{{ SITE.name }}{% else %}Qlicker{% endif %}</a>
          </div>
        {% endblock %}
      </div>
      <div class="fr">
        {% block header-right %}
          {% if user.is_anonymous %}
            <a href="{% url 'login' %}" title="{% trans 'Login' %}">{% trans "Login" %}</a>
            <a class="ml-10" href="{% url 'registration' %}" title="{% trans 'Register' %}">{% trans "Register" %}</a>
          {% else %}
            <span>{% blocktrans with user.username as username %}Hi, {{ username }}!{% endblocktrans %}</span>
<!--             <a href="{% url 'index' %}" class="user-link">
              <span class="avatar">
                <img src="{{ user.get_avatar }}" alt="" title=""/>
              </span>
              <span>{{ user.username }}</span>
              <span class="arrow"></span>
            </a> -->
            <a class="ml-10" href="{% url 'profile' %}">{% trans "Profile" %}</a>
              {# <li><a href="{% url 'archive' %}">{% trans "Archive" %}</a></li> #}
              {# <li><a href="{% url 'help' %}">{% trans "Help" %}</a></li> #}
            <a class="ml-10" href="{% url 'logout' %}">{% trans "Logout" %}</a>
          {% endif %}
        {% endblock %}
      </div>
    {% endblock %}
  </div>
</header>

{% block content %}
<main>
  <div class="container">
    <div class="page">
      <div class="headline">{% block headline %}{% endblock %}</div>
      <div class="content">
        {% block data %}{% endblock %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
</body>
</html>
{% endspaceless %}
