{% extends "base.html" %}
{% load i18n filters_tags %}

{% block css %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/index_authenticated{% if not debug %}.min{% endif %}.css"/>
{% if debug %}
{{ form.media.css }}
{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
var curPage = {{ links.number }};
</script>
{{ block.super }}
{% if debug %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.color.js"></script>
{% endif %}
<script type="text/javascript" src="{{ STATIC_URL }}js/index_authenticated{% if not debug %}.min{% endif %}.js"></script>
{% endblock %}

{% block title %}
{% blocktrans with user.username as username %}Привет, {{ username }}!{% endblocktrans %}
{% endblock %}

{% block content %}
<div class="profile-body fr">
    <h3>
        {% blocktrans with user.username as username %}
        Qlinks (ссылки)
            пользователя: {{ username }}{% endblocktrans %}
    </h3>

    <div class="oh" id="main-form">
        <form action="." method="post" class="oh fl" id="addLink">
            {% csrf_token %}
            <div class="field">{{ form.url }}</div>
            <div class="submit">
                {% if form.url.errors %}
                <div class="error fl">{{ form.url.errors }}</div>
                {% endif %}
                <div class="field fr"><input id="share" type="submit"
                                             name="share"
                                             class="button dark corner c5"
                                             alt="{% trans " Поделиться" %}"
                    value="{% trans "Поделиться" %}" />
                </div>
                <div class="field fr"><input id="short" type="submit"
                                             name="short"
                                             class="button dark corner c5"
                                             alt="{% trans " Сократить" %}"
                    value="{% trans "Сократить" %}" />
                </div>
            </div>
            <div id="user-services" class="oh">
                {% if services %}
                <ul>
                    <li>{% trans "Отправлять в" %}</li>
                    {% for service in services %}
                    <li><a slug="{{ service.slug }}"
                           href="{% url service_toggle service.slug %}?index=1"
                           class="service-link {% if not service.active %}inactive{% endif %}"
                           style="background-image: url({{ STATIC_URL }}img/services/{{ service.slug }}-toggle.png)"
                           alt="{{ service.title }} - {% if not service.active %}{% trans "
                           не подключён" %}{% else %}{% trans "активен" %}{%
                        endif %}" title="{{ service.title }} - {% if not
                        service.active %}{% trans "не подключён" %}{% else %}{%
                        trans "активен" %}{% endif %}"></a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                </ul>
            </div>
        </form>
        {% if active_services %}
        <div class="fr" id="msg-preview">
            {% for service in active_services %}
            <div class="service" class="oh" slug="{{ service.slug }}">
                <div class="oh">
                    <div class="fl" class="service-user">
                        <div class="service-avatar"
                             style="background-image: url({{ service.picture }});">
                            <div style="background-image: url({{ STATIC_URL }}{{ service.ico }});"></div>
                        </div>
                    </div>
                    <div class="fr text"></div>
                </div>
                <div class="counter" maxlen="{{ service.mesmaxlen }}">{{
                    service.mesmaxlen }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% if links.object_list %}
    <div id="links" class="corner c5">
        <div id="links-head" class="oh">
            <div class="short">{% trans "Qlinks (ссылки)" %}</div>
            <div class="clicks">{% trans "Переходы" %}</div>
            <div class="info">{% trans "Инфо" %}</div>
            <div class="date">{% trans "Дата" %}</div>
            <div class="param">{% trans "Установки" %}</div>
        </div>
        <div id="links-list">
            {% for link in links.object_list %}
            <div class="link oh {% cycle '' 'even' %}" code="{{ link.code }}">
                <div class="favicon fl"><a href="{{ link.qlink }}"><img
                        src="{{ link.favicon }}" alt="" title=""/></a>&nbsp;
                </div>
                <div class="qlink fl oh">
                    <div class="title oh"><a
                            href="{% url redirect link.code %}">{% if link.title
                        %}{{ link.title }}{% else %}{{ link.url }}{% endif
                        %}</a></div>
                    <div class="long oh"><a href="{{ link.url }}">{{
                        link.url|unquote }}</a></div>
                    <div class="short oh">
                        <a class="block fl" href="{% url redirect link.code %}">http://{{
                            SITE.domain }}{% url redirect link.code %}</a>

                        <div class="copy fl">
                            <object style="position: absolute"
                                    classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                                    version=6,0,0,0" width="20" height="26"
                                    id="bufff'+i.toString()+'" align="middle"
                                    onmouseover="in_flash(tex'+i.toString()+',bufff'+i.toString()+')">
                                <param name="allowScriptAccess"
                                       value="sameDomain"/>
                                <param name="movie"
                                       value="{{ STATIC_URL }}flash/CopyBuf.swf"/>
                                <param name="quality" value="high"/>
                                <param name="wmode" value="transparent">
                                <param name="flashVars"
                                       value="mes=http://{{ SITE.domain }}{% url redirect link.code %}">
                                <embed src="{{ STATIC_URL }}flash/CopyBuf.swf"
                                       flashVars="mes=http://{{ SITE.domain }}{% url redirect link.code %}"
                                       quality="high" wmode="transparent"
                                       width="20" height="26"
                                       name="bufff'+i.toString()+'"
                                       align="middle"
                                       allowScriptAccess="sameDomain"
                                       type="application/x-shockwave-flash"/>
                            </object>
                        </div>
                    </div>
                </div>
                <div class="clicks fl">{{ link.counter }}</div>
                <div class="info fl"><a href="{% url info link.code %}">{% trans
                    "Статистика" %}</a></div>
                <div class="date fl">{{ link.created_at|date:"d M" }}</div>
                <div class="param fl">
                    <span class="options corner">{% trans "Установки" %}</span>
                    <ul>
                        <li><a href="{% url archivate link.code %}"
                               class="archivate">{% trans "В архив" %}</a></li>
                        <li><a href="{% url archivate link.code %}"
                               class="edit">{% trans "Изменить" %}</a></li>
                        {% comment %}
                        <li><a href="#">{% trans "Поделиться" %}</a></li>
                        {% endcomment %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if links.has_other_pages %}
        <div class="paginator">
            <a href="?p=1#links" class="first"></a>
            <a href="?p={% if links.previous_page_number = 0 %}1{% else %}{{ links.previous_page_number }}{% endif %}#links"
               class="previous"></a>

            <div class="center">{% blocktrans with links.number as number and
                links.paginator.num_pages as num_pages %}{{ number }} из {{
                num_pages }}{% endblocktrans %}
            </div>
            <a href="?p={% if links.next_page_number > links.paginator.num_pages %}{{ links.paginator.num_pages }}{% else %}{{ links.next_page_number }}{% endif %}#links"
               class="next"></a>
            <a href="?p={{ links.paginator.num_pages }}#links" class="last"></a>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
<div id="cframe-bottom">
    {% include "footer.html" %}
</div>
{% endblock %}
