{% extends "base.html" %}
{% load i18n staticfiles %}

{% block js %}
<script type="text/javascript">
var curPage = {{ links.number }};
</script>
{{ block.super }}
{% endblock %}

{% block header-logo %}
{% endblock %}

{% block content %}
<main>
  <div id="add-link-view" class="container">
    <h1 class="tc mb-20">
      <a href="{% url 'index' %}">
        <img src="{% static 'img/logo.png' %}" alt="{{ SITE.name }}" title="{{ SITE.name }}"/>
      </a>
    </h1>

    <form id="add-link-anonymous-view" action="{% url 'link' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="{{ form.url.name }}" autocomplete="off"/>
      <input type="submit" value="{% trans 'Shorten' %}" alt="{% trans 'Shorten' %}" title="{% trans 'Shorten' %}"/>
      <div class="error"></div>
    </form>

    <script id="link-template" type="template/html">
      <div class="fl short"><a href="<%= qlink %>"><%= qlink %></a></div>
      <div class="fl long"><a href="<%= url %>"><%= url %></a></div>
      <div class="fl params"><a href="<%= qlink %>.info">{% trans "Info" %}</a></div>
    </script>

    <div class="links-wrapper hidden">
      <div class="links">
        <div class="header">
          <div class="fl short">{% trans "Short URL" %}</div>
          <div class="fl long">{% trans "Original URL" %}</div>
        </div>
        <div class="items"></div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
