{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with link.qlink as qlink %}{{ qlink }} &mdash; Info{% endblocktrans %}{% endblock %}

{% block headline %}{% blocktrans with link.qlink as qlink %}{{ qlink }} &mdash; Info{% endblocktrans %}{% endblock %}

{% block data %}
  <div id="link-info-view">
    <h3>
      {% blocktrans with link.redirects as redirects and link.qlink as qlink and link.created_at as created_at %}
        {{ redirects }} redirects for <a href="{{ qlink }}">{{ qlink }}</a> &mdash; from {{ created_at }}
      {% endblocktrans %}
    </h3>

    {% if link.title  %}
      <h4 class="noborder"><img src="{{ link.favicon }}" alt="" title=""/> {{ link.title }}</h4>
    {% endif %}

    {% comment %}
    <div class="qr-code">
    <a href="{% url qrcode link.code %}"><img src="{% url qrcode link.code %}" alt="{% trans 'QR code' %}" title="{% trans 'QR код' %}" /></a>
    </div>
    {% endcomment %}

    <div class="stat">
      <div class="oh redirects">
        <svg class="redirects-chart"></svg>
      </div>
      <div class="oh">
        <div class="fl referrer"></div>
        <div class="fr countries"></div>
      </div>
    </div>
  </div>
{% endblock %}
