/**
 * Password reset form
 */
#pswd-reset-form{
	width: 360px;
}
#pswd-reset-form .field{
	margin-bottom: 8px !important;
}
#pswd-reset-form .field label{
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
}
#pswd-reset-form .field .text{
	width: 200px;
}