/**
 * Login form
 */
#login-form{
	width: 205px;
}
#login-form .error{
	text-align: center;
}
#login-form .submit{
	width: 70px;
}
#login-form .error{
	margin-bottom: 7px;
}
#login-form .field input.text{
	width: 197px;
}
#login-form .fl #forgot{
	line-height: 30px;
	text-align: center;
	width: 130px;
}
